@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body
{
  min-height: 100vh;
  background: #f1f1f1;
}
/*HEADER*/
.header
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: auto;
  padding: 1.3rem 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background: #002651;
}
.header::before
{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(50px);
  z-index: -1;
}
.logo
{
  font-size: 1.5rem;
  color: #1292ee;
  text-decoration: none;
  font-weight: 700;
}
.navbar a
{
  font-size: 1rem;
  color: #ffff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 2.5rem;
}
#check
{
  display: none;
}
.icons
{
  font-size: 2rem;
  position: absolute;
  right: 5%;
  color: #fff;
  cursor: pointer;
  display: none;
}
.btn-box
{
  position: relative;
  display: inline-flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  color: #fff;
  background-color: #00baf0;
  border: 2px solid #00baf0;
  border-radius: 8px;
  font-size: 19px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-right: 50px;
}
/*FOOTER*/
footer
{
  border-radius: 12px;
  margin-top: 50px;
  background: #002651;
}
.footerContainer
{
  width: 100%;
  padding: 70px 30px 20px;
}
.socialIcons
{
  display: flex;
  justify-content: center;
}
.socialIcons a
{
  text-decoration: none;
  padding: 10px;
  background: #fff;
  margin: 10px;
  border-radius: 50%;
}
.socialIcons a i
{
  font-size: 2em;
  color: #1292ee;
  opacity: 0.9;
}
.socialIcons a:hover
{
  background: #002651;
  transition: 0.5s;
}
.socialIcons a:hover i
{
  color: #fff;
  transition: 0.5s;
}
ul
{
  list-style-type: none;
}
.footerNav
{
  margin: 30px 0;
}
.footerNav ul
{
  display: flex;
  justify-content: center;
}
.footerNav ul li a
{
  color: #fff;
  margin: 20px;
  text-decoration: none;
  font-size: 10px;
  opacity: 0.7;
  transition: 0.5s;
}
.footerNav ul li a:hover
{
  opacity: 1;
}
.footerBottom
{
  background: #000;
  padding: 20px;
  text-align: center;

}
.footerBottom
{
  color: #fff;
}
.designer
{
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0 5px;
}
/* caruosel */
.carousel-container 
{
  position: relative;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 15vh;
}
  
  .carousel 
{
  border-radius: 12px;
  display: flex;
  overflow: hidden;
  height: 600px;
}
  
  .slide 
{
  height: 100%;
  width: 1400px;
  object-fit: cover;
}
  .prev,
  .next 
{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 50px;
  font-weight: lighter;
  cursor: pointer;
  z-index: 2;
}
  
  .prev
{
  left: 30px; 
}
  
  .next 
{
  right: 30px;
}
/* grid items */
.sch-grid
{
  background: #002651;
  height: 50vh;
  margin-bottom: 30px;
  border-radius: 12px;
  border: none;
}
.grid-container 
{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30vh;
  margin-top: 90px;
}
  .grid-item 
{
  color: white;
  font-weight: lighter;
  font-family: 'poppins',sans-serif;
  text-align: center;
  padding: 20px;
  flex: 1;
  width: 30%;
  transition: background-color 0.3s ease;
}
  .grid-item i 
{
  font-size: 2em;
  font-weight: 300;
  color: white;
  margin-bottom: 10px;
}
/* about our school */
.about
{
  border: none;
  border-radius: 12px;
  margin-top: 50px;
  background: #002651;
}
  .color
{
  background: #B8B4BE;
  border-radius: 12px;
}
  .about-heading
{
  text-align: center;
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: #fff;
}
  .container 
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 30px;
}

  .container p 
{
  flex: 1;
  color: white;
  font-weight: lighter;
  font-family: 'poppins',sans-serif;
  margin-left: 20px;
  margin-right: 20px;
  max-width: 800px;
}
  .container img {
  max-width: 40%;
  border-radius: 8px;
}
  .learn
{
  text-align: center;
    
}
  .learn a
{
  position: relative;
  display: inline-flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 40px;
  color: #fff;
  background-color: #00abf0;
  border: 2px solid #00abf0;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 1px;
  margin-right: 30px;
  margin-top: 20px;
}
  .learn a:hover
{
  background: #0056b3;
  border: none;
}
.history
{
  margin-top: 15vh;
  background: #002651;
  border: 2px solid #f1f1f1;
  border-radius: 12px;
}

.school-history h2
{
  font-size: 24px;
  font-family: sans-serif;
  font-weight: 500;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}
.brief-history 
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  margin-top: 30px;
}
.brief-history p
{
  flex: 1;
  color: #fff;
  font-weight: 100;
  font-family: 'poppins',sans-serif;
  margin-left: 20px;
  margin-right: 20px;
  max-width: 800px;
}
.brief-history img
{
  max-width: 35%;
  height: 100%;
  border-radius: 12px;
}
.department
{
  margin-top: 15px;

}
.department h2
{
  font-size: 24px;
  font-family: sans-serif;
  font-weight: 500;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}
.leader-container
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: transparent;
  gap: 20px;
}
.leader
{
  width: 300px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 20px;
}
.leader-image
{
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.leader-content
{
  padding: 20px;
}
.leader-title
{
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.leader-text
{
  color: #333;
  font-size: 1rem;
  line-height: 1.4;
}
.leader-icons
{
  display: inline-block;
  margin-top: 10px;
  padding-right: 25px;
}
.leader-content a
{
  font-size: 24px;
  justify-content: center;
  color: #007bff;
}
.leader-content a:hover
{
  color: #002651;
}
/*  our leaders */
.card-grid h2
{
  color: #fff;
  text-align: center;
}
.card-container 
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: transparent;
  }
  .card 
  {
  width: 300px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 20px;
  }
  .card-image 
  {
  width: 100%;
  height: 200px;
  object-fit: cover;
  }
  
  .card-content {
  padding: 20px;
  }
  .card-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  }
  .card-text {
  color: #333;
  font-size: 1rem;
  line-height: 1.4;
  }
  .card-button {
  display: inline-block;
  padding: 8px 16px;
  margin-top: 10px;
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  }
  
  .card-button:hover {
  background-color: #0056b3;
  }
  /* contact us page */
  .contact
  {
  position: relative;
  min-height: 100vh;
  padding: 50px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #f1f1f1;
  color: #000;
  margin-top: 40px;
  }
  .contact .content
  {
  max-width: 800px;
  text-align: center;
  }
  .contact .content h2
  {
  font-size: 36px;
  font-weight: 500;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  }
  .contact .content p
  {
  font-size: 15px;
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
  }
  .contact-us
  {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  }
  .contact-us .contactInfo
  {
  width: 50%;
  display: flex;
  flex-direction: column;
  }
  .contact-us .contactInfo .box
  {
  position: relative;
  padding: 20px 0;
  display: flex;
  }
  .contact-us .contactInfo .box .icon
  {
  min-width: 60px;
  height: 60px;
  background: #00bcd4;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
  }
  .contact-us .contactInfo .box .text
  {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  flex-direction: column;
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
  }
  .contact-us .contactInfo .box a
  {
    text-decoration: none;
    color: #000;
  }
  .contact-us .contactInfo .box a:hover
  {
    text-decoration: underline;
    color: #00abf0;
  }
  .contact-us .contactInfo .box h3
  {
    font-weight: 500;
    color: #00bcd4;
  }
  .contact-form
  {
    width: 40%;
    padding: 40px;
    background: #002651;
    border-radius: 12px;
  }
  .contact-form h2
  {
    font-size: 30px;
    font-weight: 500;
    color: #ffff;
  }
  .contact-form
  {
    color: #fff;
  }
  .contact-form .inputbox
  {
    position: relative;
    width: 100%;
    margin-top: 10px;
  }
  .contact-form .inputbox input,
  .contact-form .inputbox textarea
  {
    width: 100%;
    padding: 5px 10px 5px 5px;
    font-size: 16px;
    margin: 10px 0;
    border: 2px solid #f1f1f1;
    border-radius: 10px;
   outline: none;
  }
  .contact-map
{
  justify-content: center;
  align-items: center;
}
.contact-map iframe
{
  background: #002651;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 420px;
  padding: 30px 40px;
  margin-left: 33%;
}

.map h2
{
  font-size: 36px;
  font-weight: 500;
  color: #00abf0;
  text-align: center;
}
/*  gallery page  */
.im-grid
{
  margin-top: 15vh;
}
.im-grid h2
{
  font-size: 26px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  text-align: center;
}
.image-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.image-grid img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.zoom-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.zoom-image {
  max-width: 80%;
  max-height: 80%;
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #fff;
  font-size: 24px;
}
  /*  login form  */
  .body
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f1f1f1;
}
.back
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  background: #f1f1f1;
}
.wrapper p
{
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.wrapper
{
  width: 420px;
  background: #002651;
  color: #fff;
  border-radius: 12px;
  padding: 30px 40px;
}
.wrapper h1
{
  font-size: 36px;
  text-align: center;
}
.wrapper .input-box
{
  position: relative;
  width: 100%;
  height: 50px; 
  margin: 30px 0;
}
.input-box input
{
  width: 100%;
  height: 100%;
  border: 2px solid #002651;
  border-radius: 10px;
  font-size: 16px;
  padding: 20px 45px 20px 20px;
  outline: none;
}
.input-box i
{
  color: #808080;
  position: absolute;
  right: 20px;
  top: 40%;
  transform: translate(-50%);
}
.wrapper .remember-forget
{
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}
.remember-forget label input
{
  accent-color: #ffff;
  margin-right: 3px;
}
.remember-forget a
{
  color: #ffff;
  text-decoration: none;
}
.remember-forget a:hover
{
  text-decoration: underline;
  color: #00abf0;
}
.wrapper .button
{
  width: 50%;
  height: 45px;
  background: #007bff;
  border: none;
  outline: none;
  border-radius: 40px;
  margin-left: 85px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}
/*   testimonials  */
.testimonial-container
{
  background: #002651;
  border-radius: 12px;
  max-width: 1170px;
  margin: auto;
  height: 60vh;
  padding: 0 15px;
}
.section-header
{
  text-align: center;
  margin-top: 50px;
}
.section-header .title
{
  font-size: 35px;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff;
  line-height: 1.2;
  margin-top: 10vh;
}
.testimonails
{
  padding: 100px 0;
}
.testimonial-item
{
  margin-top: 3.5vh;
  background-color: hsl(0, 0%, 100%);
  padding: 30px;
  border-radius: 12px;
}
.testimonial-item .info
{
  display: flex;
  align-items: center;
}
.testimonial-item img
{
  max-width: 80px;
  border-radius: 50%;
  margin-right: 20px;
  vertical-align: middle;
}
.testimonial-item .name
{
  font-size: 24px;
  text-transform: capitalize;
  font-weight: 600;
  color: #000 hsl(0, 0%, 0%);
  line-height: 1.2;
}
.testimonial-item .job
{
  text-transform: capitalize;
  color: hsl(0, 0%, 40%);
}
.testimonial-item p
{
  margin-top: 20px;
  color: hsl(0, 0%, 40%);
}
.testimonial-item .rating
{
  margin-top: 15px;
  font-size: 14px;
  color: hsl(36, 88%, 66%);
}
.swiper-pagination
{
  display: none;
}
/* MEDIA QUERIES */
@media (max-width:992px) {
    .header{
        padding: 1.3rem 5%;
    }
}
@media (max-width:768px) {
    .icons{
        display: inline-flex;
    }
    #check:checked~.icons #menu-icon{
        display: none;
    }
    .icons #close-icon{
        display: none;
    }
    #check:checked~.icons #close-icon{
        display: block;
    }
    .logo{
        font-size: 15px;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: #002651;
        backdrop-filter: blur(50px);
        box-shadow: 0.5rem 1rem rgba(0, 0, 0, .1);
        overflow: hidden;
        transition: .3s ease;
    }
    #check:checked~.navbar{
        height: 17.7rem;
    }
    .navbar a{
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        transition: .3s ease;
    }
    #check:checked~.navbar a{
        transform: translateY(0);
    }
    .carousel{
        height: 400px;
    }
    .grid-container{
        flex-direction: column;
        height: auto;
    }
    .grid-item{
        width: 100%;
        margin: 10px;
    }
    .sch-grid{
        height: auto;
    }
    .container{
        flex-direction: column;
        align-items: center;
    }
    .container p
    {
        order: 1;
        width: auto;
    }
    .container img{
        max-width: 100%;
        margin-top: 20px;
    }
    .card{
        width: 100%;
    }
    .contact{
      margin-top: 50px;
    }
    .contact-us {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .contact-us .contactInfo{
    width: 48%;
  }
  .contact-form{
    width: 1200px;
    padding: 30px 40px;
  }
  .contact-map h2{
    text-align: center;
  }
  .contact-map iframe{
    margin-left: 6%;
    padding: 30px 34px;
    width: 85%;
    height: 85%;
  }
  .image-grid{
    grid-template-columns: repeat(2, 1fr);
  }
  .testimonial-container {
    height: auto;
  }

  .section-header .title {
    font-size: 28px;
    margin-top: 3vh;
  }

  .testimonails {
    padding: 30px 0;
  }
  .brief-history{
    flex-direction: column;
    text-align: center;
  }
  .brief-history img{
    max-width: 100%;
    margin-top: 20px;
  }
  footer{
    width: 100%;
  }
  .socialIcons a i{
    font-size: 12px;
  }
  .socialIcons a{
    border-radius: 50%;
    font-size: 12px;
  }
    .footerNav ul{
    flex-direction: column;
  }
    .footerNav ul li{
    width: 100%;
    text-align: center;
    margin: 10px;
  }
}
@media only screen and (max-width: 480px) {
  .image-grid {
    grid-template-columns: 1fr;
  }
}

.dashboard-header
{
    top: 0;
    left: 0;
    margin-top: auto;
    padding: 1.3rem 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #6DC3D0;
}
.dash-logo
{
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 800;
}
.kayron
{
    font-weight: 100;
}
.dash-nav a
{
    text-decoration: none;
    padding-left: 10px;
    color: #fff;
    cursor: pointer;
}
.dash-nav a i
{
    margin-right: 3px;
}
.dash-nav a:hover
{
    background: lightgray;
    background-size: auto;
}
.dash-nav .fa-cogs,
.fa-user
{
    color: #000;
}
.portal
{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 14rem auto 14rem;
    gap: 7%;
}
.left-dashboard
{
    height: 80vh;
    width: 300px;
    border-radius: 10px;
    text-align: center;
    background: #91B150;
}
.right-dashboard
{
    border-radius: 10px;
    height: 80vh;
    width: 950px;
    text-align: center;
    background: yellowgreen;
}
.left-top-icon {
    display: flex;
    align-items: center;
}

.left-top-icon img {
    display: flex;
    flex-direction: row;
    margin-right: 10px; 
    height: 10vh;
}

.left-top-icon h2 {
    color: #fff;
    font-size: 15px;
    margin: 0; 
}

.left-top-icon a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
}

.left-top-icon .fa-circle {
    color: green;
    font-size: 10px;
}

.dash-photo {
    padding: 10px;
}
.left-main
{
    display: flex;
    flex-direction: row;
}
.left-top-main h2
{
    color: #4B646F;
    padding: 5px;
    font-size: 12px;
    margin-right: 20vh;
}
.left-top-main a
{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    padding: 8px;
    color: #fff;
}
.left-top-main a i
{
    margin-right: 8px;
    color: #000;
}
.main-left-bottom
{
    display: flex;
    flex-direction: row;
}
.bottom-content h2
{
    color: #4B646F;
    padding: 5px;
    text-transform: uppercase;
    font-size: 12px;
    margin-right: 20vh;
}
.bottom-content a
{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    padding: 8px;
    color: #fff;
}
.bottom-content a i
{
    margin-right: 8px;
    color: #000;
}
.right-cards {
    display: flex;
    flex-direction: row;
    gap: 20px; 
}

.cards-content-top {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 100px;
    background: #f39c12;
    text-align: left; 
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.cards-icons-top {
    position: relative;
    height: 100px;
    left: 10;
    width: 90px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background: #00000033;
    display: flex;
    align-items: center; 
}

.cards-icons-top i {
    font-size: 70px; 
    color: #fff; 
    margin-right: 10px; 
}

.cards-info-top {
    margin-left: 5px;
    flex: 1; 
}

.cards-info-top h2 {
    color: #fff;
    font-weight: lighter;
    font-size: 15px; 
    margin-bottom: 5px; 
}
.progress-container {
    height: 3px; 
    background-color: #f0f0f0; 
    width: 100%; 
    margin-top: 10px; 
    margin-right: 30%;
}

.progress-bar {
    height: 100%;
    background-color: #007bff; 
}

.cards-info-top p {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    margin: 10px; 
}
.cards-info-top a
{
    color: #fff;
    text-decoration: none;
    bottom: 30px;
}
.cards-info-top a i
{
    font-size: 14px;
}
.cards-content-bottom {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 100px;
    background: #00c0ef;
    text-align: left; 
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.cards-icons-bottom {
    position: relative;
    height: 100px;
    left: 10;
    width: 90px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background: #00000033;
    display: flex;
    align-items: center;
}

.cards-icons-bottom i {
    font-size: 70px;
    color: #f1f1f1; 
    margin-right: 10px;
}

.cards-info-bottom {
    margin-left: 5px;
    flex: 1; 
}

.cards-info-bottom h2 {
    color: #fff;
    font-weight: lighter;
    font-size: 15px; 
    margin-bottom: 5px;
}

.cards-info-bottom p {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    margin: 10px; 
}
.cards-info-bottom a
{
    color: #fff;
    text-decoration: none;
    bottom: 30px;
}
.cards-info-bottom a i
{
    font-size: 14px;
}
.cards-content-middle {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 100px;
    background: #00a65a;
    text-align: left;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.cards-icons-middle {
    position: relative;
    height: 100px;
    left: 10;
    width: 90px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background: #00000033;
    display: flex;
    align-items: center;
}

.cards-icons-middle i {
    font-size: 70px;
    color: #fff;
    margin-right: 10px;
}

.cards-info-middle {
    margin-left: 5px;
    flex: 1; 
}

.cards-info-middle h2 {
    color: #fff;
    font-weight: lighter;
    font-size: 15px; 
    margin-bottom: 5px;
}

.cards-info-middle p {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    margin: 10px; 
}
.cards-info-middle a
{
    color: #fff;
    text-decoration: none;
    bottom: 30px;
}
.cards-info-middle a i
{
    font-size: 14px;
}
@media (max-width: 768px) {
    .portal{
        display: block;
    }
    .left-dashboard{
        width: 100%;
    }
    .right-dashboard{
        width: 100%;
        margin-top: 20px;
    }
    .dashboard-header{
        display: flex;
        flex-direction: column;
    }
    .dash-logo{
        font-size: 26px;
    }
    .dash-nav{
        margin-right: 10px;
        display: flex;
        flex-direction: row;
        font-size: 14px;
    }
    .right-cards{
        display: flex;
        flex-direction: column;
    }
    .cards-content-top,
    .cards-content-middle,
    .cards-content-bottom{
        width: 100%;
    }
}